coverage
dev
metrics
node_modules
prod
tmp/
vendor
**/.DS_Store
.tmp
tmp
.npm-debug.log
.npm-error.log
.idea
.sass-cache
.sublime-gulp.cache
*.orig
*.sublime-project
*.sublime-workspace
*.sublime-grunt.cache